<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:insert="~{fragments/headBlog :: head}"></header>

<body>
    <div th:insert="~{fragments/infoToast :: infoToast}"></div>
    <div th:replace="~{fragments/navigation :: navigation}"></div>

    <!-- Breadcrumb-------------- -->
    <div class="container">
        <!-- Card-------------- -->

  
                <div class="row mt-5">
                    <div class="col-6">
                        <h2>BLOGS</h2>
                    </div>
                    <div class="col-6 text-end">
                        <a th:href="@{/blog/create}" class="btn btn-primary"><i class="bi bi-plus-lg"></i> <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">Registrar</span></a>
                    </div>
                   
                </div>
                <div class="row mt-3 table-responsive">
                    <div th:insert="~{fragments/alert :: alerts}">
                    </div>
                    <div class="col-md-12 col-6">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Titulo</th>
                                <th><span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">Fecha de Creación</span></th>
                                <th>¿Es principal?</th>
                                <th>Autor</th>
                                <th class="text-center">Acciones</th>
                            </tr>

                            </thead>
                            <tbody>
                                <tr th:each="item, iter : ${listBlogs}">
                                    <td> [[${index + (iter.index +1)}]]</td>
                                    <td> [[${item.title.length > 25 ? item.title.substring(0,25)+".." : item.title}]]</td>
                                    <td><span class=" d-none d-sm-none d-md-none d-lg-inline d-xl-inline">[[${#dates.format(item.createdAt, 'dd-MM-yyyy HH:MM')}]]</span> </td>
                                    <td> [[${item.isPrincipal == true ? "Si" : "No"}]]</td>
                                    <td> [[${item.user.name}]]</td>
                                    <td class="text-center"> <a th:href="@{/blog/find_update/{id}/true (id=${item.id})}" class="btn btn-primary"><i class="bi bi-pencil-square"></i> <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">Actualizar</span></a>
                                        <a th:href="@{/blog/managment/details/{id}/false (id=${item.id})}" class="btn btn-primary"><i class="bi bi-eye"></i> <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">Detalles</span></a> </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                        <div th:insert="~{fragments/paginator :: paginator}">
                        </div>
                    </div>
                </div>
            </div>
    <div th:replace="~{fragments/footerBlog :: footer}"></div>
</body>
</html>