<!DOCTYPE html>
<html lang="es">

    <header th:insert="~{fragments/headBlog :: head}"></header>
<body>
<div th:insert="~{fragments/infoToast :: infoToast}">
</div>
<div th:replace="~{fragments/navigation :: navigation}">

</div>

<!-- header -->
<div th:each="item : ${blog}" class="mb-5">
   
    <!-- end of header -->

    <!-- design -->
    
        <div class="container">

            <div class="card mt-5 shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card-header text-center fs-2">
                [[${item.title}]]
            </div>
            <div class="card-body">
                <h5 class="card-title text-end">Autor: [[${item.user.name}]] [[${item.user.firstLastname}]]
                    [[${item.user.secondLastname}]]</h5>
                <div class="row">
                    <div class="col-12">
                        <p class="card-text" th:utext="${item.content}"></p>
                    </div>
                </div>
              
                <div class="text-center">               
                        <img class="card-img-bottom shadow p-3 mb-5 bg-body rounded" style="width: 35rem; height: 25rem;" th:src="@{/uploads/{image} (image=${item.image})}"  
                         th:if="${item.image != null}" alt="Este Blog No tiene Imagen">
                </div>
                
                <div class="row">
                    <div class="col-12 text-end">
                        <a th:href="@{/blog/general}"  th:if="${flag == true}" class="btn btn-primary"> <i class="bi bi-arrow-left"></i><span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline"> Regresar</span> </a>
                        <a th:href="@{/}"  th:if="${flag == false}"  class="btn btn-primary"> <i class="bi bi-arrow-left"></i><span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline"> Regresar</span> </a>
        
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                Fecha de publicación [[${#dates.format(item.createdAt, 'dd-MM-yyyy')}]]
            </div>
            </div>

           
        </div>
    
    <!-- end of design -->
</div>

</body>

</html>