<!DOCTYPE html>
<html lang="en">

<head>
    <header th:insert="~{fragments/head :: head}">

    </header>
</head>

<body>
    <div th:insert="~{fragments/navigation :: navigation}"></div>
    <main>
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
            <div>
                <span class="fs-4">Buscar mascota</span>
            </div>
            <br>
            <div class="input-group mb-3">
                <i></i>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" placeholder="Buscar...">
            </div>
            <hr>
            <label> Color</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Selecciona</option>
                <option value="">Blanco</option>
            </select>
            <label> Tamaño</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Selecciona</option>
                <option value="">Grande</option>
            </select>
            <label>Carácter</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Selecciona</option>
                <option value="">Activo</option>
            </select>
            <button type="button" class="btn btn-info">Filtrar</button>
            <hr>
            <div>
                <a href="#"><strong>Borrar filtros</strong></a>
            </div>
        </div>
        <div class="b-example-divider"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img th:src="@{/}"
                            alt="" class="card-img-top">
                        <div class="row">
                            <div class="col">
                                <div class="banner">
                                    <div class="feeds">
                                        <div class="feed">
                                            <div class="actions">
                                                <div class="heart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col"><span class="badge bg-info text-dark">Perro</span></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Kibu</h5>
                            <p><strong>Sexo:</strong>&nbsp;Macho</p>
                            <p><strong>Edad:</strong>&nbsp;2 años</p>
                            <p><strong>Tamaño:</strong>&nbsp;Mediano</p>
                            <hr>
                            <i class="fa-solid fa-calendar-days"></i>
                            <p>Añadido hace 2 días</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img th:src="@{/}"
                            alt="" class="card-img-top">
                        <div class="row">
                            <div class="col">
                                <div class="banner">
                                    <div class="feeds">
                                        <div class="feed">
                                            <div class="actions">
                                                <div class="heart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col"><span class="badge bg-info text-dark">Perro</span></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Kibu</h5>
                            <p><strong>Sexo:</strong>&nbsp;Macho</p>
                            <p><strong>Edad:</strong>&nbsp;2 años</p>
                            <p><strong>Tamaño:</strong>&nbsp;Mediano</p>
                            <hr>
                            <i class="fa-solid fa-calendar-days"></i>
                            <p>Añadido hace 2 días</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img th:src="@{/}"
                            alt="" class="card-img-top">
                        <div class="row">
                            <div class="col">
                                <div class="banner">
                                    <div class="feeds">
                                        <div class="feed">
                                            <div class="actions">
                                                <div class="heart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col"><span class="badge bg-info text-dark">Perro</span></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Kibu</h5>
                            <p><strong>Sexo:</strong>&nbsp;Macho</p>
                            <p><strong>Edad:</strong>&nbsp;2 años</p>
                            <p><strong>Tamaño:</strong>&nbsp;Mediano</p>
                            <hr>
                            <i class="fa-solid fa-calendar-days"></i>
                            <p>Añadido hace 2 días</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>