<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:replace="~{fragments/head :: head}">
</header>

<body>
    <div th:insert="~{fragments/infoToast :: infoToast}">
    </div>
    <div th:replace="~{fragments/navigation :: navigation}">
    </div>

    <div class="container mt-3">
        <div class="row">
            <h2 class="col-6">Mascotas</h2>
            <div class="col-6 d-flex py-1 justify-content-end" sec:authorize="hasRole('ROLE_VOLUNTARIO')">
                <a class="btn btn-primary" th:href="@{/pets/create}">Registrar mascota</a>
            </div>
        </div>

        <div class="table-responsive-sm table-responsive-md mt-2">
            <div th:insert="~{fragments/alert :: alerts}">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col text-center">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Last</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item, iter : ${listPets}">
                        <th scope="row text-center">[[${index + (iter.index + 1)}]]</th>
                        <td>[[${item.name}]]</td>
                        <td>[[${item.age}]]</td>
                        <td class="text-capitalize">[[${item.sex}]]</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="row">
                            <div class="col">
                                <a class="btn btn-warning" th:href="@{/pets/find_update/{id}(id=${item.id})}">Actualizar</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:insert="~{fragments/paginator :: paginator}">
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}">

    </div>
</body>

</html>