<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:replace="~{fragments/head :: head}">
</header>

<body>
    <div th:insert="~{fragments/infoToast :: infoToast}">
    </div>
    <div th:replace="~{fragments/navigation :: navigation}">

    </div>
    <!--INICIO SLIDER-->
    <div class="container mt-5">
         <div th:insert="~{fragments/alert :: alerts}">
        </div>
        <!--Init carousel-->
        <div class="row mt-5" th:if="${!flagRegister}">
            <div class="col-12">
                <h1 class="text-center">No existen blogs publicados</h1>
            </div>
        </div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" th:if="${flagRegister}">
            <div class="carousel-inner">
                <div class="carousel-item" th:classappend="${iter.count == 1} ? active  : ''"  th:each="item, iter : ${listBlogs}">
                    <img th:src="@{/uploads/{image} (image=${item.image})}" class="d-block w-100" alt="..." height="700px">
                    <div class="carousel-caption  text-center">
                        <a class="btn btn-dark text-decoration-none col-12" th:href="@{/blog/find_details_blog/{id}/false (id=${item.id})}" > [[${item.title}]] </a>
                       
                      </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <!--Finish carousel-->

      <div class="row mt-5">
        <div class="col-lg-4 col-md-6 col-12 mt-5 mb-2" th:each="item : ${listPets}">
          <div class="card me-2 ms-2" style="width: 22rem;">
            <img th:src="@{/uploads/{image} (image=${item.image})}" class="card-img-top " style="width: 22rem; height: 15rem;" alt="...">
            <div class="card-body">
              <span><span class="badge bg-info">[[${item.type}]] </span> &nbsp; &nbsp; &nbsp;  Añadido el [[${#dates.format(item.createdAt, 'dd-MMM-yyyy')}]] </span>
              <h5 class="card-title mt-2 mb-2">[[${item.name}]]</h5>
              <p class="card-text mt-2"><b>Sexo: </b>  [[${item.sex}]]<br/> 
                <b>Edad: </b> [[${item.age}]]<br/> 
                <b>Tamaño: </b> [[${item.size.name}]]<br/>
                <b>Caracter: </b>  [[${item.personality.name}]]<br/>
                <b>Color: </b>  [[${item.color.name}]]</p>
              
              <div class="col-12 text-center">
               
                  <a th:href="@{/pets/add-favorite/{id} (id=${item.id})}" class="btn btn-primary "><i class="bi bi-plus-lg"></i> <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">Añadir a Favoritos</span></a>
                
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

    <div th:replace="~{fragments/footerBlog :: footer}"></div>

</body>
</html>